<home>
	<head>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
		<form action="/get_image" method="get">
			<h3> Enter your query: <input type="text" name="query" id="query"></input> </h3>
			<input type="submit" value="OK">
			<!--<button class="submit_button">Go!</button>-->
		</form>
		<div id="search_result">
		
		<h1> Naver </h1>
			{% for item in naver %}
				<img src={{item.image}}>
			{% endfor %}
		<h1> Daum </h1>
			{% for item in daum %}
				<img src={{item.image}}>
			{% endfor %}
		</div>
	</body>
	<script>
		$(document).ready(function(){
			
			//$('.submit_button').on('click', function(event){
//			$('.submit_button').submit(function(event){
//
//				var query = $('#query').val();
//				if(query == ""){
//					alert("please put a query");
//					event.end();
//				}
//	
////				$.ajax({
////					type:"GET",
////					url: "/get_query/",
////					data: {'query':query},
////					success : function(data){
////								alert(data);
////							  },
////					error: function(x, e, er){
////						alert("shit");
////					}
////				});	
//					
//			});
//
		});
	</script>
</home>
